@import "scss/content";
@import "scss/variables";
@import "scss/nine_slice";

@font-face {
  font-family: 'Aseprite';
  src: url("../assets/font/AsepriteFont.ttf") format('truetype');
}

@font-face {
  font-family: 'MewosPixel';
  src: url("../assets/font/MewosPixels-RanksAndFiles.ttf") format('truetype');
}

body {
  -webkit-font-smoothing: none; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox on macOS */
  font-smooth: never; /* Modern browsers */
  text-rendering: optimizeSpeed;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  margin: 0;
}

main {
  font-family: 'Aseprite', sans-serif;

  font-size: calc($px * 1rem);
  line-height: calc(1em + $px * -6px);

  width: 100vw;
  height: 100vh;

  color: #fff;
}

.main {
  height: inherit;

  padding: 0 calc($px*4px);

  display: grid;
  gap: calc($px*1px);

  grid-template-rows: $nsz auto calc($px*5px);

  >.slices { z-index: -2; }
  >:not(.slices) { z-index: 0; }
}

.header {
  display: flex;
  justify-content: space-between;

  -webkit-app-region: drag;

  .title img {
    height: calc($px * 17px);
    position: absolute;
    top: calc($px * 2px);
    
    pointer-events: none;
  }

  .header-buttons {
    height: 100%;
    align-self: end;

    button {
      border: none;
      background: none;
      color: white;

      height: 100%;
      aspect-ratio: 10/7;
      padding: 0;

      img {
        height: calc($px * 14px);
        transform: translateY(calc($px * 1px));
      }
    }


    .minimize-btn, .maximize-btn, .minus-btn, .plus-btn {
      &:hover img { background-color: #2ac0f2 }
    }

    .close-btn:hover img { background-color: #b42313; }
  }
}

.footer {/* Empty as the void we feel when we remember our old friends */}
