@import "scss/nine_slice";
@import "scss/board";
@import "scss/variables";

@font-face {
  font-family: 'Aseprite';
  src: url("../assets/font/AsepriteFont.ttf") format('truetype');
}

@font-face {
  font-family: 'MewosPixel';
  src: url("../assets/font/MewosPixels-RanksAndFiles.ttf") format('truetype');
}

body { 
  -webkit-font-smoothing: none; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox on macOS */
  font-smooth: never; /* Modern browsers */
  text-rendering: optimizeSpeed;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

main {
  font-family: 'Aseprite', sans-serif;

  font-size: calc($px * 1rem);
  line-height: calc(1em + $px * -6px);

  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  color: #fff;

  > .nine-slice {
    height: inherit;

    padding: 0 calc($px*4px);
  
    display: grid;
    gap: calc($px*1px);
  
    grid-template-rows: $nsz auto calc($px*5px);
  
    > * {
      // background-color: rgba(0, 0, 0, 0.25);
    }
    
    .content {

      // .board {} -> on _board.scss

      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;

      > .side-panel {
        margin-left: calc($px*1px);

        min-width: 300px;
        width: 100%;

        background-color: rgba(0, 0, 0, 0.25);
      }
    }
    
    .header {
      display: flex;
      justify-content: space-between;

      -webkit-app-region: drag;

      .tauri-buttons {
        button {
          border: none;
          background: none;
          color: white;
          //cursor: pointer;

          img {
            height: calc($px * 9px);
            transform: translateY(calc($px * 1px));
          }
        }

      .minimize-btn:hover img, .maximize-btn:hover img { background-color: #2ac0f2; }
      .close-btn:hover img { background-color: #b42313; }

      }
    }
    
    .footer { }
  }
}
