@import "scss/nine_slice";
@import "scss/board";
// @import "scss/variables";
// @use "scss/variables" as *;

@font-face {
  font-family: 'Aseprite';
  src: url("assets/font/AsepriteFont.ttf") format('truetype');
}

body {
  font-family: 'Aseprite', sans-serif;
  -webkit-font-smoothing: none; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox on macOS */
  font-smooth: never; /* Modern browsers */
  text-rendering: optimizeSpeed;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

$px: var(--px);
$nsz: var(--9sz);

main {
  font-size: calc($px * 1rem);
  line-height: calc(1em + $px * -6px);

  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  color: #fff;
}

.nine-slice {
  height: inherit;

  padding-left:  calc($px*4px);
  padding-right: calc($px*4px);

  display: grid;
  gap: calc($px*1px);

  grid-template-rows: $nsz auto calc($px*5px);

  > * {
    // background-color: rgba(0, 0, 0, 0.25);
  }
  
  .content { }
  .sidebar { }

  .header { }
  .footer { }
}
