/.idea/

/assets/.WIP/

/frontend/Cargo.lock
/frontend/dist/
/frontend/target/

/src-tauri/Cargo.lock
/src-tauri/target/
/src-tauri/gen/schemas

/backend/Cargo.lock
/backend/target/
/backend/gen/schemas

/backend/engines/*
