@import "variables";

// Positioning and setup
.content {
  display: flex;

  .board {
    aspect-ratio: 1;
  }

  // Checks for a 5/4 ratio
  @media (width >= 125vh) { // Consider this Landscape
    flex-direction: row;
    justify-content: space-around;

    .side-panel {
      display: flex;
      flex-direction: column;

      overflow-x: auto;
      overflow-y: scroll;

      margin-left: calc($px*1px);
      width: 100%;
      //width: 25vw;
      //max-width: 100%;

      background-color: rgba(255, 255, 255, 0.55);
    }
  }

  @media (width < 125vh) { // Portrait
    flex-direction: column;
    justify-self: center;

    width: fit-content;
    max-width: fit-content;
    top: 0;
    bottom: 0;
    
    .board {
      height: 70vh;
      width: auto;
    }

    .side-panel {
      display: flex;
      flex-direction: column;
      
      overflow-x: scroll;
      overflow-y: auto;

      margin-top: calc($px*1px);
      height: 100%;
    }
  }
}

// Make the 'board' great again!
$_8th: calc(1/8 * 100%);
$border: calc($px * 8px);

.board {
  font-family: 'MewosPixel', sans-serif;
  font-size: calc($px * 4px);
  line-height: 1;

  // Area's drawn border
  padding: $border;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .slices { z-index: 2 }
  >:not(.slices) { z-index: 1 }

  .board-row {
    width: 100%;
    height: $_8th;
    display: flex;
    align-items: center;

    position: relative;

    .square {
      width: $_8th;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      .light{}
      .dark{}
    }
  }

  .labels {
    z-index: 3;

    pointer-events: none;

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      white-space: nowrap;
      text-align: center;
    }

    .rank {
      flex-direction: column;

      width: $border;
      height: calc(100% - $border*2);

      * {
        height: $_8th;
        place-content: center;
      }

      &.left { left: calc($px*1px) }
      &.right { right: 0 }
    }

    .file {
      flex-direction: row;
      align-items: center;

      width: calc(100% - $border*2);
      height: $border;

      * {
        width: $_8th;
        place-content: center;
      }

      &.top { top: calc($px*1px) }
      &.bottom { bottom: calc($px*1px) }
    }

  }
}