@import "variables";
@import "board";

/*
 * General positioning and the .labels class
 * Internal board stuff are on _board.scss
 *
 * 200 lines of CSS was bugging me, I had to split it
 */

.content {
  display: flex;

  .board {
    aspect-ratio: 1;
  }

  // Layouts based on a 5/4 screen ratio
  // Could do more, or to try and perfect this
  // But I'm pondering temporarily removing it (Only landscape)

  @media (width >= 125vh) { // Consider this Landscape
    flex-direction: row;
    justify-content: space-around;

    .side-panel {
      display: flex;
      flex-direction: column;

      overflow-x: auto;
      overflow-y: scroll;

      margin-left: calc($px*1px);
      width: 100%;
      // width: 25vw;
      // max-width: 100%;

      background-color: rgba(255, 255, 255, 0.55);
    }
  }

  @media (width < 125vh) { // Something like Portrait
    flex-direction: column;
    justify-self: center;

    width: fit-content;
    max-width: fit-content;
    top: 0;
    bottom: 0;
    
    .board {
      height: 60vh;
      width: auto;
    }

    .side-panel {
      display: flex;
      flex-direction: column;
      
      overflow-x: scroll;
      overflow-y: auto;

      margin-top: calc($px*1px);
      height: 100%;
    }
  }
}

.board {
  .labels {
    font-family: 'MewosPixel', sans-serif;
    font-size: calc($px * 4px);
    line-height: 1;

    z-index: 4;

    pointer-events: none;

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      white-space: nowrap;
      text-align: center;
    }

    .file {
      flex-direction: column;

      width: $border;
      height: calc(100% - $border * 2);

      * {
        height: $_8th;
        place-content: center;
      }
    }

    .rank {
      flex-direction: row;
      align-items: center;

      width: calc(100% - $border * 2);
      height: $border;

      * {
        width: $_8th;
        place-content: center;
      }
    }
    
    // Weird values?
    // That's just for text position micro adjustment
    .left { left: calc($px * 1px) }
    .right { right: 0 }
    .top { top: calc($px * 1px) }
    .bottom { bottom: calc($px * 1px) }
  }
}