
// $slice-size: var(--9slc-size);

.nine-slice {
    .slices {
        // display: none;

        pointer-events: none;
        position: absolute;
        //top: -1px; // Fixing bugs 101
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: -1;

        margin: 0;
        padding: 0;
    }

    *:not(.slices) {
        z-index: 0;
    }
}