
// $slice-size: var(--9slc-size);

.nine-slice {
    position: relative;

    .slices {
        // display: none;

        pointer-events: none;
        position: absolute;
        //top: -1px; // Fixing bugs 101
        width: 100%;
        height: 100%;
    }
}