$px: var(--px);
$nsz: var(--9sz);

// Not actually black and white
$col-black: #090a14;
$col-white: #ebede9;

@mixin unselectable() {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
