@import "content";
@import "variables";
@import "nine_slice";

@font-face {
  font-family: 'Aseprite';
  src: url("../../assets/font/AsepriteFont.ttf") format('truetype');
}

@font-face {
  font-family: 'MewosPixel';
  src: url("../../assets/font/MewosPixels-RanksAndFiles.ttf") format('truetype');
}

@font-face {
  font-family: 'MewosPixel-full';
  src: url("../../assets/font/MewosPixels-Full.ttf") format('truetype');
}

body {
  -webkit-font-smoothing: none; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox on macOS */
  font-smooth: never; /* Modern browsers */
  text-rendering: optimizeSpeed;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  margin: 0;
}

main {
  font-family: 'Aseprite', sans-serif;

  font-size: calc($px * 1rem);
  line-height: calc(1em + $px * -6px);

  width: 100vw;
  height: 100vh;

  color: #fff;
}

.main {
  height: inherit;

  padding: 0 calc($px*4px);

  display: grid;
  gap: calc($px*1px);

  grid-template-rows: $nsz auto calc($px*5px);

  >.slices { z-index: -2; }
  >:not(.slices) { z-index: 0; }
}

.header {
  display: flex;
  justify-content: space-between;

  -webkit-app-region: drag;

  .title img {
    height: calc($px * 17px);
    position: absolute;
    top: calc($px * 2px);

    @include unselectable();
  }

  .header-buttons {
    height: 100%;
    align-self: end;

    -webkit-app-region: no-drag;

    button {
      border: none;
      background: none;
      color: white;

      height: 100%;
      aspect-ratio: 10/7;
      padding: 0;

      img {
        height: calc($px * 14px);
        transform: translateY(calc($px * 1px));
      }
    }


    .minimize-btn, .maximize-btn, .minus-btn, .plus-btn {
      &:hover img { background-color: #2ac0f2 }
    }

    .close-btn:hover img { background-color: #b42313; }
  }
}


.overlays {

  @include unselectable();

  .visible {
    visibility: visible;
  }
  #win {
    background-color: #57c52b80;
  }
  #lose {
    background-color: #b4231380;
  }
  #draw {
    background-color: #f4c04780;
  }

  > div {
    visibility: hidden;
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    z-index: 10;

    :first-child {
      font-family: 'Aseprite', sans-serif;

      font-size: calc($px * 2rem);
      line-height: .5;
    }

    :last-child {
      font-family: 'MewosPixel-full', sans-serif;

      font-size: calc($px * 1rem);
      line-height: 0;
    }
  }
}

.footer {/* Empty as the void we feel when we remember our old friends */}
